spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/{DB_NAME}
    username: {DB_USER}
    password: {DB_PASSWORD}

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update